body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.logo__web, .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact__link, .site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__contact, .footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--flex {
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .container--flex {
    display: flex;
    align-items: center;
    min-height: 80px;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__web {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .logo__web {
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu-toggle {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196F3;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 48px 40px;
  overflow-y: scroll;
}
.menu-container.is-open {
  display: block;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.nav-menu {
  margin-bottom: 302px;
}
.nav-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.nav-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: #2196F3;
  outline: none;
}

.contacts-menu {
  margin-bottom: 64px;
}
.contacts-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.contacts-menu__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}
.contacts-menu__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.social-network-menu {
  display: flex;
}
.social-network-menu__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.social-network-menu__item:first-child {
  padding-left: 0;
}
.social-network-menu__item:last-child {
  padding-right: 0;
  border-right: none;
}
.social-network-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
    margin-left: 93px;
    display: flex;
    flex-wrap: wrap;
  }
}
.site-nav__item {
  position: relative;
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__link--active {
  color: #2196F3;
}
.site-nav__link--active::after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.contact {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contact {
    flex-direction: column;
  }
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contact__link:hover, .contact__link:focus {
  color: #2196F3;
}

.contact__icon {
  fill: currentColor;
  margin-right: 8px;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

.buttons {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .buttons {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .buttons {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.buttons__list {
  display: inline-block;
  margin-right: 8px;
}
.buttons__list:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .buttons__list:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.buttons--style {
  padding: 6px 22px;
  /*min-width: 73px;*/
  font-family: inherit;
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #F5F4FA;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons--style:hover, .buttons--style:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.content__list {
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}
@media screen and (max-width: 767px) {
  .content__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .content__list {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .content__list {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.content__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content__link:hover, .content__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
}
.content__link:hover, .content__link:focus {
  transform: translateY(0);
  opacity: 1;
}
.content__link:hover .content__text-overlay, .content__link:focus .content__text-overlay {
  transform: translateY(0);
  opacity: 1;
}

.content__overlay {
  position: relative;
  overflow: hidden;
}

.content__text-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  display: flex;
  align-items: center;
  margin: 0 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .content__text-overlay {
    padding: 63px 24px;
  }
}

.content__card {
  padding: 20px 24px;
  text-align: left;
  border: 1px solid #EEEEEE;
  flex-grow: 1;
}

.content__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.content__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding-left: 122px;
  padding-right: 122px;
}
@media screen and (min-width: 768px) {
  .social-icons {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .social-icons {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.social-icons__list {
  margin-right: 10px;
}
.social-icons__list:last-child {
  margin-right: 0;
}

.social-icons__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  list-style: none;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .social-icons__link:hover {
    background-color: #2196F3;
  }
  .social-icons__link:focus {
    background-color: #2196F3;
    outline: none;
  }
  .social-icons__link:hover, .social-icons__link:focus {
    fill: #FFFFFF;
  }
  .social-icons__link:hover .social-icons__icon, .social-icons__link:focus .social-icons__icon {
    fill: #FFFFFF;
  }
}

.footer {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  color: #FFFFFF;
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  address {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 93px;
    width: 100%;
  }
}

.footer__text {
  margin-top: 0;
  margin-bottom: 8px;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer__text {
    margin-bottom: 9px;
  }
}

.footer__title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.logo--color {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  font-style: normal;
  color: #FFFFFF;
}

.footer__contact {
  margin-top: 0;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover, .footer__contact:focus {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    margin-bottom: 9px;
  }
}

.footer__section {
  display: block;
  padding-top: 0;
}
@media screen and (max-width: 767px) {
  .footer__section {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__section {
    margin-left: 70px;
  }
}

.social-icons--indent {
  padding-left: 0;
  padding-right: 0;
}

.social-icons__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icons__icon--color {
  fill: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .from-subscribe {
    width: 570px;
    margin-left: 0;
    margin-right: 0;
  }
}

.form-subscribe__field {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .form-subscribe__field {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__field {
    flex-direction: space-between;
  }
}

.form-subscribe__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  font-size: 16px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .form-subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe__input {
    width: 358px;
    margin-left: 0;
    margin-right: 12px;
  }
}
.form-subscribe__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  width: 200px;
  font-family: inherit;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 1px solid #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.form-subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}/*# sourceMappingURL=portfolio.css.map */