/*footer {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    color: $primaryBackgroundColor;
}

.footer__text {
    margin-top: 0;
    margin-bottom: 9px;
    font-style: normal;
    @extend %main-text;
}

.footer__title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    color: $primaryBackgroundColor;
    @extend %subtitle;
}*/