.from-subscribe {
    @media screen and (min-width: 1200px) {
        width: 570px;
        margin-left: 0;
        margin-right: 0;
    }
}

.form-subscribe__field {
    display: flex;
    @media screen and (max-width: 1199px) {
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width: 1200px) {
    flex-direction: space-between;
    }
}

.form-subscribe__input {
    margin-bottom: 20px;
    padding: 15px 16px;
    height: 50px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    font-size: 16px;
    color: $primaryBackgroundColor;

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-left: 0;
        margin-right: 12px;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }  
}

.form-subscribe__button {
    @include centeredFlex ();
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    width: 200px;
    font-family: inherit;
    color: $primaryBackgroundColor;
    background-color: $accentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.form-subscribe__icon {
    fill: currentColor;
    margin-left: 10px;
} 