.contact {
    display: flex;
    margin-left: auto;

    @media screen  and (max-width: 768px) {
        display: none;
    }
   
    @media screen and (max-width: 1199px) {
        flex-direction: column;
    }
}

.contact__item {
    &:not(:last-child) {
        margin-bottom: 10px;
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}

.contact__link {
    @include centeredFlex ();
    color: $primaryTextColor;
    @extend %header-links;
    
    transition: color $transition;

    @media screen and (max-width: 1199px) {
            font-size: 12px;
            line-height: 1.16;
        }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.contact__icon {
    fill: currentColor;
    margin-right: 8px;
    align-items: center;

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}