.logo {
    color: $blackColor;
    @extend %logo;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo__web {
    color: $accentColor;
    @extend %logo;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}
