%logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
}

%header-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

%button {
    font-family: inherit;
    color: $primaryBackgroundColor;
    background-color: $accentColor;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 1px solid $accentColor;
    cursor: pointer;
}

%subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

%main-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

%footer-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

%modal__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
