$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196F3;
$blackColor: #000000;
$primaryBackgroundColor: #FFFFFF;
$secondaryBackgroundColor: #F5F4FA;
$iconFill: #AFB1B8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

body {
    background-color: #FFFFFF;
    color: #757575;
    font-family: Roboto, sans-serif;
}

body.modal-open {
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
    /*width: 100%;*/
}

.section__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $titleTextColor;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .section__title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}

@media screen and (min-width: 1200px) {
    section {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}